/* _____________________________________________LOGO_______________ */
.logo {
  color: var(--color-blue);
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.78px;
  // margin-right: 93px;
}
