/* ______________________________________________OUR-TEAM___________________*/

.our-team {
  background-color: #f5f4fa;
  max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
padding-top: 60px;
padding-bottom: 60px;

@media screen and (min-width:1200px) {
  padding-top: 94px;
    padding-bottom: 94px;
  }

  &__img {
    display: block;

      @media screen and (min-width:480px) {
          width: 450px;
          
        }

      @media screen and (min-width:768px) {
          width: 354px;
        }

@media screen and (min-width:1200px) {
    width: 270px;
  }

  }

  &__title {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;



@media screen and (min-width:768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  }

  &__card {
    padding-bottom: 30px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    border: 1px;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 450px;

    
@media screen and (min-width:768px) {
    margin-bottom: 0;
  }
  }

   

  &.text {
    color: var(--text-color-main);
    text-align: center;
    letter-spacing: 0.48px;
  }

  &__item {
    display: block;
    // margin-right: 30px;


  }

  &___item:last-child {
    margin-right: 0px;
  }

  &__subtitle {
    color: var(--title-color);
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
    font-weight: 500px;
    letter-spacing: 0.48px;
  }

  &__text {
    color: var(--text-color-main);
    text-align: center;
    letter-spacing: 0.48px;
    margin-top: 10px;
  }
}
